:root {
    --primary:#A66CFF ;
    --secondary:#FF731D;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

/* applied to all elements in the app */
*{
    font-family: 'Raleway', sans-serif;
    font-size: 16px; /* default font size */
}

